.heading{
    font-family: 'Releway', sans-serif;
    font-weight: 900;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
}

.buscador{
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    text-align: left;
    width: 60vw;
}

.btn_block{
    width: 100%;
}

.content{
    height: 300px;
}
